.btn__rules {
  border: 2px solid $clr-header-outline;
  border-radius: 6px;
  padding: 5px 20px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: $clr-light-text;
  cursor: pointer;
}
