.step_two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.user,
.house {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  &__title {
    font-size: 1.5rem;
    color: $clr-light-text;
    font-weight: 600;
    z-index: 3;
  }
  &__picked {
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background: #fff;
    display: grid;
    place-items: center;
  }
}

.user,
.house {
  &__picked--paper {
    border: 20px solid $clr-paper-border;
    box-shadow: $box-shadow-inner, 0 7px 0 $clr-paper-shadow;
    &-icon-won {
      // box-shadow: $box-shadow-inner, 0 7px 0 $clr-paper-shadow,
      //   0 0 0 40px $clr-dark-text, 0 0 0 80px $clr-dark-text-1,
      //   0 0 0 120px $clr-dark-text-2;
        animation: ripple-paper 5s linear infinite;
    }
  }

  &__picked--scissor {
    border: 20px solid $clr-scissor-border;
    box-shadow: $box-shadow-inner, 0 7px 0 $clr-scissor-shadow;
    &-icon-won {
      // box-shadow: $box-shadow-inner, 0 7px 0 $clr-scissor-shadow,
      //   0 0 0 40px $clr-dark-text, 0 0 0 80px $clr-dark-text-1,
      //   0 0 0 120px $clr-dark-text-2;
        animation: ripple-scissor 5s linear infinite;
    }
  }

  &__picked--rock {
    border: 20px solid $clr-rock-border;
    box-shadow: $box-shadow-inner, 0 7px 0 $clr-rock-shadow;
    &-icon-won {
      // box-shadow: $box-shadow-inner, 0 7px 0 $clr-rock-shadow,
      //   0 0 0 40px $clr-dark-text, 0 0 0 80px $clr-dark-text-1,
      //   0 0 0 120px $clr-dark-text-2;
        animation: ripple-rock 5s linear infinite;
    }
  }
}

@keyframes ripple-paper {
  0% {
    box-shadow: $box-shadow-inner, 0 7px 0 $clr-paper-shadow,
        0 0 0 20px $clr-dark-text, 0 0 0 40px $clr-dark-text-1,
        0 0 0 80px $clr-dark-text-2;
  }
  50%{
    box-shadow: $box-shadow-inner, 0 7px 0 $clr-paper-shadow,
        0 0 0 40px $clr-dark-text, 0 0 0 80px $clr-dark-text-1,
        0 0 0 120px $clr-dark-text-2;
  }
  100% {
    box-shadow: $box-shadow-inner, 0 7px 0 $clr-paper-shadow,
        0 0 0 20px $clr-dark-text, 0 0 0 40px $clr-dark-text-1,
        0 0 0 80px $clr-dark-text-2;
  }
}

@keyframes ripple-rock {
  0% {
    box-shadow: $box-shadow-inner, 0 7px 0 $clr-rock-shadow,
        0 0 0 20px $clr-dark-text, 0 0 0 40px $clr-dark-text-1,
        0 0 0 80px $clr-dark-text-2;
  }
  50%{
    box-shadow: $box-shadow-inner, 0 7px 0 $clr-rock-shadow,
        0 0 0 40px $clr-dark-text, 0 0 0 80px $clr-dark-text-1,
        0 0 0 120px $clr-dark-text-2;
  }
  100% {
    box-shadow: $box-shadow-inner, 0 7px 0 $clr-rock-shadow,
        0 0 0 20px $clr-dark-text, 0 0 0 40px $clr-dark-text-1,
        0 0 0 80px $clr-dark-text-2;
  }
}

@keyframes ripple-scissor {
  0% {
    box-shadow: $box-shadow-inner, 0 7px 0 $clr-scissor-shadow,
        0 0 0 20px $clr-dark-text, 0 0 0 40px $clr-dark-text-1,
        0 0 0 80px $clr-dark-text-2;
  }
  50%{
    box-shadow: $box-shadow-inner, 0 7px 0 $clr-scissor-shadow,
        0 0 0 40px $clr-dark-text, 0 0 0 80px $clr-dark-text-1,
        0 0 0 120px $clr-dark-text-2;
  }
  100% {
    box-shadow: $box-shadow-inner, 0 7px 0 $clr-scissor-shadow,
        0 0 0 20px $clr-dark-text, 0 0 0 40px $clr-dark-text-1,
        0 0 0 80px $clr-dark-text-2;
  }
}

.house {
  &__picked--empty {
    margin: 25px 0;
    height: 170px;
    width: 170px;
    background: $clr-bar;
  }
}
