* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: radial-gradient(circle at center, #1f3756, #141539);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.hide {
  visibility: hidden;
  transform: scale(0);
}

.header {
  border: 3px solid #606e85;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 70%;
}

.header__logo {
  width: auto;
  height: 100%;
}

.score {
  background-color: #fff;
  width: 100px;
  height: 6rem;
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  place-items: center;
}
.score__title {
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 0.8rem;
  align-self: end;
  color: #2a46c0;
}
.score__score {
  font-weight: 700;
  font-size: 2.5rem;
  align-self: start;
  color: #3b4363;
}

.btn__rules {
  border: 2px solid #606e85;
  border-radius: 6px;
  padding: 5px 20px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 376px) {
  .btn__rules {
    right: 25%;
    transform: translateX(-50%);
  }
}

.container {
  height: 100vh;
  width: 100vw;
  min-width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  align-items: flex-start;
}

.gamearea {
  height: 400px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.step_one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-evenly;
}

.step_two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.paper,
.scissor,
.rock {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  display: grid;
  place-items: center;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.paper {
  border: 15px solid #5671f5;
  box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(72, 101, 244, 0.7);
}

.rock {
  grid-column: span 2;
  border: 15px solid #dd405d;
  box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(220, 46, 78, 0.7);
}

.scissor {
  border: 15px solid #eca922;
  box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(236, 158, 14, 0.7);
}

.paper::before,
.rock::before,
.scissor::before {
  content: "";
  height: 200px;
  width: 10px;
  background-color: #141539;
  position: absolute;
  z-index: -1;
  cursor: default;
  pointer-events: none;
}

.paper::before {
  transform: rotate(89.5deg);
  left: 50%;
}

.scissor::before {
  transform: rotate(30deg);
  right: 40%;
  top: 25%;
}

.rock::before {
  transform: rotate(-30deg);
  left: 40%;
  bottom: 20%;
}

.result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
}
.result__title {
  font-size: 3rem;
  letter-spacing: 4px;
  font-weight: 800;
  color: #fff;
  z-index: 3;
  text-align: center;
}
.result .play_again {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 35px;
  color: #3b4363;
  cursor: pointer;
  z-index: 3;
  text-align: center;
}

.user,
.house {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.user__title,
.house__title {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  z-index: 3;
}
.user__picked,
.house__picked {
  height: 210px;
  width: 210px;
  border-radius: 50%;
  background: #fff;
  display: grid;
  place-items: center;
}

.user__picked--paper,
.house__picked--paper {
  border: 20px solid #5671f5;
  box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(72, 101, 244, 0.7);
}
.user__picked--paper-icon-won,
.house__picked--paper-icon-won {
  -webkit-animation: ripple-paper 5s linear infinite;
          animation: ripple-paper 5s linear infinite;
}
.user__picked--scissor,
.house__picked--scissor {
  border: 20px solid #eca922;
  box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(236, 158, 14, 0.7);
}
.user__picked--scissor-icon-won,
.house__picked--scissor-icon-won {
  -webkit-animation: ripple-scissor 5s linear infinite;
          animation: ripple-scissor 5s linear infinite;
}
.user__picked--rock,
.house__picked--rock {
  border: 20px solid #dd405d;
  box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(220, 46, 78, 0.7);
}
.user__picked--rock-icon-won,
.house__picked--rock-icon-won {
  -webkit-animation: ripple-rock 5s linear infinite;
          animation: ripple-rock 5s linear infinite;
}

.house__picked--empty {
  margin: 25px 0;
  height: 170px;
  width: 170px;
  background: #141539;
}

.container--overlay {
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.pointer-none {
  pointer-events: none;
}

.overlay__card--toggle {
  visibility: hidden;
}

.overlay__card {
  background-color: #fff;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.overlay__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
.overlay__title {
  font-size: 2rem;
  color: #3b4363;
}
.overlay__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.overlay__close {
  cursor: pointer;
}

.scale-in {
  -webkit-animation: scale-in 200ms ease-in-out forwards;
          animation: scale-in 200ms ease-in-out forwards;
}

@-webkit-keyframes scale-in {
  0% {
    transform: translate(-50%, -50%) scale(0);
    transform-origin: center;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center;
  }
}

@keyframes scale-in {
  0% {
    transform: translate(-50%, -50%) scale(0);
    transform-origin: center;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center;
  }
}
.scale-out {
  -webkit-animation: scale-out 200ms ease-in-out forwards;
          animation: scale-out 200ms ease-in-out forwards;
}

@-webkit-keyframes scale-out {
  0% {
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center;
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
    transform-origin: center;
  }
}

@keyframes scale-out {
  0% {
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center;
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
    transform-origin: center;
  }
}
.scale-in-overlay {
  -webkit-animation: scale-in-overlay 200ms ease-in forwards;
          animation: scale-in-overlay 200ms ease-in forwards;
}

@-webkit-keyframes scale-in-overlay {
  0% {
    width: 10vw;
  }
  100% {
    width: 100vw;
  }
}

@keyframes scale-in-overlay {
  0% {
    width: 10vw;
  }
  100% {
    width: 100vw;
  }
}
.scale-out-overlay {
  -webkit-animation: scale-out-overlay 200ms ease-out forwards;
          animation: scale-out-overlay 200ms ease-out forwards;
}

@-webkit-keyframes scale-out-overlay {
  0% {
    width: 100vw;
  }
  100% {
    width: 10vw;
  }
}

@keyframes scale-out-overlay {
  0% {
    width: 100vw;
  }
  100% {
    width: 10vw;
  }
}
.scale-in-house-picked {
  -webkit-animation: scale-in-house 300ms ease-in-out forwards;
          animation: scale-in-house 300ms ease-in-out forwards;
}

@-webkit-keyframes scale-in-house {
  0% {
    transform: scale(0);
    transform-origin: center;
  }
  100% {
    transform: scale(1);
    transform-origin: center;
  }
}

@keyframes scale-in-house {
  0% {
    transform: scale(0);
    transform-origin: center;
  }
  100% {
    transform: scale(1);
    transform-origin: center;
  }
}
.push-right {
  -webkit-animation: push-right 300ms 700ms ease forwards;
          animation: push-right 300ms 700ms ease forwards;
}

.push-left {
  -webkit-animation: push-left 300ms 700ms ease forwards;
          animation: push-left 300ms 700ms ease forwards;
}

@-webkit-keyframes push-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200px);
  }
}

@keyframes push-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200px);
  }
}
@-webkit-keyframes push-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200px);
  }
}
@keyframes push-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200px);
  }
}
@-webkit-keyframes ripple-paper {
  0% {
    box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(72, 101, 244, 0.7), 0 0 0 20px #3b4363, 0 0 0 40px rgba(59, 67, 99, 0.7), 0 0 0 80px rgba(59, 67, 99, 0.5);
  }
  50% {
    box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(72, 101, 244, 0.7), 0 0 0 40px #3b4363, 0 0 0 80px rgba(59, 67, 99, 0.7), 0 0 0 120px rgba(59, 67, 99, 0.5);
  }
  100% {
    box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(72, 101, 244, 0.7), 0 0 0 20px #3b4363, 0 0 0 40px rgba(59, 67, 99, 0.7), 0 0 0 80px rgba(59, 67, 99, 0.5);
  }
}
@keyframes ripple-paper {
  0% {
    box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(72, 101, 244, 0.7), 0 0 0 20px #3b4363, 0 0 0 40px rgba(59, 67, 99, 0.7), 0 0 0 80px rgba(59, 67, 99, 0.5);
  }
  50% {
    box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(72, 101, 244, 0.7), 0 0 0 40px #3b4363, 0 0 0 80px rgba(59, 67, 99, 0.7), 0 0 0 120px rgba(59, 67, 99, 0.5);
  }
  100% {
    box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(72, 101, 244, 0.7), 0 0 0 20px #3b4363, 0 0 0 40px rgba(59, 67, 99, 0.7), 0 0 0 80px rgba(59, 67, 99, 0.5);
  }
}
@-webkit-keyframes ripple-rock {
  0% {
    box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(220, 46, 78, 0.7), 0 0 0 20px #3b4363, 0 0 0 40px rgba(59, 67, 99, 0.7), 0 0 0 80px rgba(59, 67, 99, 0.5);
  }
  50% {
    box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(220, 46, 78, 0.7), 0 0 0 40px #3b4363, 0 0 0 80px rgba(59, 67, 99, 0.7), 0 0 0 120px rgba(59, 67, 99, 0.5);
  }
  100% {
    box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(220, 46, 78, 0.7), 0 0 0 20px #3b4363, 0 0 0 40px rgba(59, 67, 99, 0.7), 0 0 0 80px rgba(59, 67, 99, 0.5);
  }
}
@keyframes ripple-rock {
  0% {
    box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(220, 46, 78, 0.7), 0 0 0 20px #3b4363, 0 0 0 40px rgba(59, 67, 99, 0.7), 0 0 0 80px rgba(59, 67, 99, 0.5);
  }
  50% {
    box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(220, 46, 78, 0.7), 0 0 0 40px #3b4363, 0 0 0 80px rgba(59, 67, 99, 0.7), 0 0 0 120px rgba(59, 67, 99, 0.5);
  }
  100% {
    box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(220, 46, 78, 0.7), 0 0 0 20px #3b4363, 0 0 0 40px rgba(59, 67, 99, 0.7), 0 0 0 80px rgba(59, 67, 99, 0.5);
  }
}
@-webkit-keyframes ripple-scissor {
  0% {
    box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(236, 158, 14, 0.7), 0 0 0 20px #3b4363, 0 0 0 40px rgba(59, 67, 99, 0.7), 0 0 0 80px rgba(59, 67, 99, 0.5);
  }
  50% {
    box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(236, 158, 14, 0.7), 0 0 0 40px #3b4363, 0 0 0 80px rgba(59, 67, 99, 0.7), 0 0 0 120px rgba(59, 67, 99, 0.5);
  }
  100% {
    box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(236, 158, 14, 0.7), 0 0 0 20px #3b4363, 0 0 0 40px rgba(59, 67, 99, 0.7), 0 0 0 80px rgba(59, 67, 99, 0.5);
  }
}
@keyframes ripple-scissor {
  0% {
    box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(236, 158, 14, 0.7), 0 0 0 20px #3b4363, 0 0 0 40px rgba(59, 67, 99, 0.7), 0 0 0 80px rgba(59, 67, 99, 0.5);
  }
  50% {
    box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(236, 158, 14, 0.7), 0 0 0 40px #3b4363, 0 0 0 80px rgba(59, 67, 99, 0.7), 0 0 0 120px rgba(59, 67, 99, 0.5);
  }
  100% {
    box-shadow: inset 0 0.5em rgba(0, 0, 0, 0.2), 0 7px 0 rgba(236, 158, 14, 0.7), 0 0 0 20px #3b4363, 0 0 0 40px rgba(59, 67, 99, 0.7), 0 0 0 80px rgba(59, 67, 99, 0.5);
  }
}/*# sourceMappingURL=main.css.map */